<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
        integrity=" sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo "
        crossorigin=" anonymous "></script>
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js "
        integrity=" sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/ "
        crossorigin=" anonymous "></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <style>
        @import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

        * {
            text-decoration: none;
            border: none;
        }

        body {
            background-image: url(https://img.freepik.com/free-photo/mountain-landscape-with-car-driving-down-road_1340-26701.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .navbar-nav {
            margin-right: 10px;
        }

        #userpic {
            width: 100%;
            height: 30px;
            border-radius: 50%;
        }

        .nav-link {
            font-weight: 500;
            margin-right: 10px;
        }

        .navbar .navbar-collapse {
            text-align: center;
        }

        .fi,
        input {
            font-size: 20px;
            float: left;
            margin-left: 5px;
            text-align: center;
        }

        a {
            color: white;
        }

        i,
        b {
            font-style: normal;
            font-weight: 600;
            font-size: 50px;
        }

        #intro i:nth-child(1n) {
            color: blue;
        }

        #intro i:nth-child(2n) {
            color: red;
        }

        #intro i:nth-child(3n) {
            color: orange;
        }

        #intro b:nth-child(1n) {
            color: blue;
        }

        #intro b:nth-child(2n) {
            color: green;
        }

        #intro b:nth-child(3n) {
            color: red;
        }

        #intro {
            margin-top: 30px;
        }

        #searchbar {
            margin-top: 30px;
            border: 2px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.331);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 50%;
            height: 30px;
            justify-content: center;
            background-color: white;
        }

        #contentDiv {
            margin-top: 20px;
            display: none;
            width: 100%;
            height: 35px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.331);
            justify-content: center;
            background-color: white;
            margin-bottom: 30px;
        }

        #contentDiv a {
            font-size: 20px;
            text-align: center;
            color: black;
            text-decoration: none;
        }

        input {
            border: none;
            outline: none;
            width: 40%;
            height: 35px;
        }

        p {
            font-size: 20px;
            float: left;
        }

        #div1 {
            margin-top: 40px;
        }

        #div1 a {
            font-size: 20px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
        }
    </style>
    <script>
        let title = document.title;
        window.addEventListener("blur", () => {
            document.title = "Come Back :(";
        });
        window.addEventListener("focus", () => {
            document.title = title;
        });
        document.addEventListener('click', function (event) {
            var contentDiv = document.getElementById('contentDiv');
            var toggleButton = document.getElementById('searchbar');

            if (event.target !== contentDiv && event.target !== toggleButton) {
                contentDiv.style.display = 'none';
            }
        });

        function toggleDiv() {
            var contentDiv = document.getElementById("contentDiv");
            var searchbar = document.getElementById("searchbar");
            if (contentDiv.style.display === "none") {
                contentDiv.style.display = "block";
                searchbar.style.borderBottom = "none";
            } else {
                contentDiv.style.display = "none";
                window.location.reload();
            }
        }
    </script>

</head>

<body>
    <script>
        // JavaScript code to enable desktop site mode
        function enableDesktopMode() {
            var desktopViewport = document.createElement('meta');
            desktopViewport.setAttribute('name', 'viewport');
            desktopViewport.setAttribute('content', 'width=1200, user-scalable=yes');

            var existingViewport = document.querySelector('meta[name="viewport"]');
            if (existingViewport) {
                existingViewport.parentNode.replaceChild(desktopViewport, existingViewport);
            } else {
                document.head.appendChild(desktopViewport);
            }
        }

        // Call enableDesktopMode function automatically if screen resolution is less than 1000 pixels
        if (window.innerWidth < 1000) {
            enableDesktopMode();
        }
    </script>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Atmakuri Kiran</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center " id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link" href="/about">About</a>
                    <a class="nav-link" href="/project">Projects</a>
                    <a class="nav-link" href="/education">Education</a>
                    <a class="nav-link" href="/skills">Skills</a>
                    <a class="nav-link" href="/contact">Contact</a>
                    <a class="nav-link" href="/profile">
                        <img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8fDA%3D&w=1000&q=80"
                            id="userpic"></a>
                </div>
            </div>
        </div>
    </nav>
    <center>
        <div id="intro">
            <i>A</i>
            <i>t</i>
            <i>m</i>
            <b>a</b>
            <b>k</b>
            <b>u</b>
            <i>r</i>
            <i>i</i> &nbsp &nbsp
            <b>K</b>
            <b>i</b>
            <b>r</b>
            <i>a</i>
            <i>n</i>
            <h3 id="desc">Full Stack Developer</h3>
        </div>
        <div id="searchbar" onclick="toggleDiv()">
            <i class="fi fi-br-search"></i>
            <br>
            <div id="contentDiv" style="display:none">
                <i class="fi fi-br-clock-five"></i>
                <a href="/mainpage">Kiran's Portfolio</a>
            </div>
            <div id="div1">
                <a href="/projects">Projects</a> &nbsp &nbsp &nbsp <a href="/mainpage">Portfolio</a>
            </div>
        </div>
    </center>
</body>

</html>